{% comment %} variables for links to Help Center - am {% endcomment %}
{% if block.settings.help_link_title_1 != empty %}
  {% assign link_title_1 = block.settings.help_link_title_1  %}
{% else %}
  {% assign link_title_1 = 'nothing'  %}
{% endif %}
{% if block.settings.help_link_title_2 != empty %}
  {% assign link_title_2 = block.settings.help_link_title_2  %}
{% else %}
  {% assign link_title_2 = 'nothing'  %}
{% endif %}
{% if block.settings.help_link_title_3 != empty %}
  {% assign link_title_3 = block.settings.help_link_title_3  %}
{% else %}
  {% assign link_title_3 = 'nothing'  %}
{% endif %}
{% if block.settings.help_link_title_4 != empty %}
  {% assign link_title_4 = block.settings.help_link_title_4  %}
{% else %}
  {% assign link_title_4 = 'nothing'  %}
{% endif %}
{% if block.settings.help_link_title_5 != empty %}
  {% assign link_title_5 = block.settings.help_link_title_5  %}
{% else %}
  {% assign link_title_5 = 'nothing'  %}
{% endif %}
{% if block.settings.help_link_title_6 != empty %}
  {% assign link_title_6 = block.settings.help_link_title_6  %}
{% else %}
  {% assign link_title_6 = 'nothing'  %}
{% endif %}


{%- if linklists[block.settings.menu].links.size > 0 -%}
  {%- if block.settings.show_footer_title -%}
    <p class="h4 footer__title small--hide">
      {{ linklists[block.settings.menu].title }}
    </p>
    <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="Footer-{{ block.id }}">
      {{ linklists[block.settings.menu].title }}
      {%- render 'collapsible-icons' -%}
    </button>
  {%- endif -%}
  <div
    {% if block.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content collapsible-content--small"
    {% endif %}>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
        <ul class="no-bullets site-footer__linklist">
          {%- for link in linklists[block.settings.menu].links -%}
            <li>
              {% if link.title contains link_title_1 %}
                <a onclick="helpCenterLink('{{ block.settings.help_link_block_1}}', '{{ block.settings.help_link_subblock_1}}')"
                  id="route-help" class="help-center-link">
                  {{ block.settings.help_link_title_1 }}</a>
              {% elsif link.title contains link_title_2 %}
                <a onclick="helpCenterLink('{{ block.settings.help_link_block_2}}', '{{ block.settings.help_link_subblock_2}}')"
                  id="route-help" class="help-center-link">
                  {{ block.settings.help_link_title_2 }}</a>
              {% elsif link.title contains link_title_3 %}
                <a onclick="helpCenterLink('{{ block.settings.help_link_block_3}}', '{{ block.settings.help_link_subblock_3}}')"
                  id="route-help" class="help-center-link">
                  {{ block.settings.help_link_title_3 }}</a>
              {% elsif link.title contains link_title_4 %}
                <a onclick="helpCenterLink('{{ block.settings.help_link_block_4}}', '{{ block.settings.help_link_subblock_4}}')"
                  id="route-help" class="help-center-link">
                  {{ block.settings.help_link_title_4 }}</a>
              {% elsif link.title contains link_title_5 %}
                <a onclick="helpCenterLink('{{ block.settings.help_link_block_5}}', '{{ block.settings.help_link_subblock_5}}')"
                  id="route-help" class="help-center-link">
                  {{ block.settings.help_link_title_5 }}</a>
              {% elsif link.title contains link_title_6 %}
                <a onclick="helpCenterLink('{{ block.settings.help_link_block_6}}', '{{ block.settings.help_link_subblock_6}}')"
                  id="route-help" class="help-center-link">
                  {{ block.settings.help_link_title_6 }}</a>
              {% else %}
                <a href="{{ link.url }}">{{ link.title }}</a>
              {% endif %}
            </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
{%- endif -%}
