{%- assign boost_settings = shop.metafields.bc-sf-filter.settings -%}
{%- assign boost_in_collection_search = boost_settings | split: 'enableCollectionSearch":' | last | split: ',"' | first | strip | remove: "}" -%}
{%- liquid
  assign per_row = 4
  assign paginate_by = per_row | times: 7

  for block in section.blocks
    case block.type
    when 'product_grid'
      assign per_row = block.settings.per_row
      assign paginate_by = per_row | times: block.settings.rows_per_page
    endcase
  endfor
  assign grid_item_width = 'small--one-half medium-up--one-third'

  case per_row
    when 2
      assign grid_item_width = 'medium-up--one-half'
    when 3
      assign grid_item_width = 'small--one-half medium-up--one-third'
    when 4
      assign grid_item_width = 'small--one-half medium-up--one-quarter'
    when 5
      assign grid_item_width = 'small--one-half medium-up--one-fifth'
  endcase
-%}

<div
  id="CollectionAjaxResult"
  class="collection-content"
  data-section-id="{{ section.id }}"
  data-section-type="collection-template"
>
  <div id="CollectionAjaxContent">
    <div class="page-width">
       {% if boost_in_collection_search == 'true' %}
        <div class="eight columns boost-pfs-in-collection-search">
          <div class="boost-pfs-in-collection-search-wrapper">
            <input aria-label="Search this collection" class="boost-pfs-in-collection-search-input" type="text" placeholder="Search this collection">
            <button type="button" class="boost-pfs-in-collection-search-clear">
              <svg aria-hidden="true" width="15" height="16" viewBox="0 0 20 20">
                <path d="M11.414 10l6.293-6.293a1 1 0 10-1.414-1.414L10 8.586 3.707 2.293a1 1 0 00-1.414 1.414L8.586 10l-6.293 6.293a1 1 0 101.414 1.414L10 11.414l6.293 6.293A.998.998 0 0018 17a.999.999 0 00-.293-.707L11.414 10z" fill="#222222"></path>
              </svg>
            </button>
            <button type="button" class="boost-pfs-in-collection-search-button">
              <svg aria-hidden="true" width="15" height="16" viewBox="0 0 15 16" fill="none">
                <path d="M14.4323 14.4001L10.4594 10.4801C12.1215 8.32012 11.9188 5.20012 9.93233 3.24012C7.74314 1.08012 4.17558 1.08012 1.94585 3.24012C-0.243342 5.40012 -0.243342 8.92012 1.94585 11.1201C2.9999 12.1601 4.41882 12.7601 5.91882 12.7601C7.13504 12.7601 8.31071 12.3601 9.28368 11.6401L13.2567 15.5601C13.4188 15.7201 13.6215 15.8001 13.8242 15.8001C14.0269 15.8001 14.2296 15.7201 14.3918 15.5601C14.7567 15.2001 14.7567 14.7201 14.4323 14.4001ZM5.95936 11.1201C4.90531 11.1201 3.89179 10.7201 3.12152 9.96012C1.54044 8.40012 1.54044 5.92012 3.12152 4.36012C3.89179 3.60012 4.94585 3.20012 5.95936 3.20012C6.97287 3.20012 8.02693 3.60012 8.7972 4.36012C10.3783 5.92012 10.3783 8.40012 8.7972 9.96012C8.02693 10.7201 7.01341 11.1201 5.95936 11.1201Z" fill="#222222"></path>
              </svg>
            </button>
          </div>
        </div>
      {% endif %} 
      <div class="boost-pfs-filter-wrapper">
        <div class="grid">
          <div class="grid__item medium-up--one-fifth grid__item--sidebar boost-pfs-filter-left-col">
            {% render 'collection-sidebar', section: section %}
          </div>
          <div class="grid__item medium-up--four-fifths grid__item--content boost-pfs-filter-right-col">
            <div class="collection-grid__wrapper">
              {% render 'collection-template', section: section %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",
  {% if collection.description != blank %}
    "description": {{ collection.description | strip_html | json }},
  {% endif %}
  {% if page_image %}
    {% assign image_size = page_image.width | append: 'x' %}
    "image": {
      "@type": "ImageObject",
      "height": {{ page_image.height | json }},
      "url": {{ page_image | img_url: image_size | prepend: "https:" | json }},
      "width": {{ page_image.width | json }}
    },
  {% endif %}
  "name": {{ collection.title | json }}
}
</script>

<script>
  // Declare boostPFSThemeConfig variable
  var boostPFSThemeConfig = {
    label: {
      sold_out: {{ 'products.product.sold_out' | t | json }},
      sale: {{ 'products.general.sale' | t | json }},
      save_html: {{ 'products.general.save_html' | t | json }},
      regular_price: {{ 'products.general.regular_price' | t | json }},
      sale_price: {{ 'products.general.sale_price' | t | json }},
      from_text_html: {{ 'products.general.from_text_html' | t | json }},
      quick_shop: {{ settings.quick_shop_text | json }},
      filter: {{ 'collections.filters.title_tags' | t | json}},
      items_with_count_one: {{ 'collections.general.items_with_count.one' | t | json}},
      items_with_count_other: {{ 'collections.general.items_with_count.other' | t | json }},
    },
    custom: {
      products_per_page: {% if paginate_by %} {{ paginate_by | json }} {% else %} 24 {% endif %},
      products_per_row: {% if per_row %} {{ per_row }} {% else %} 4 {% endif %},
      grid_item_width: {% if grid_item_width != blank %} {{ grid_item_width | json }} {% else %} 'small--one-half medium-up--one-third' {% endif %},
      vendor_enable: {% if settings.vendor_enable %} {{ settings.vendor_enable | json }} {% else %} false {% endif %},
      quick_shop_enable: {% if settings.quick_shop_enable %} {{ settings.quick_shop_enable | json }} {% else %} false {% endif %},
      product_hover_image: {% if settings.product_hover_image %} {{ settings.product_hover_image | json }} {% else %} false {% endif %},
      product_grid_image_size: {% if settings.product_grid_image_size %} {{ settings.product_grid_image_size | json }} {% else %} 'natural' {% endif %},
      enable_product_reviews:  {% if settings.enable_product_reviews %} {{ settings.enable_product_reviews | json }} {% else %} false {% endif %},
      collection_color_swatches: {% if settings.enable_swatches %} {{ settings.enable_swatches | json }} {% else %} false {% endif %},
      product_save_amount: {% if settings.product_save_amount %} {{ settings.product_save_amount | json }} {% else %} false {% endif %},
      product_save_type: {% if settings.product_save_type %} {{ settings.product_save_type | json }} {% else %} 'dollar' {% endif %},
      product_grid_image_fill: {{ settings.product_grid_image_fill | default: false | json }}
    }
  };

  var boostPFSTemplate = {

    // Grid Template
    'productGridItemHtml': {% render 'boost-pfs-filter-html', layout: 'productGridItemHtml' %},

      // Pagination Template
    'previousActiveHtml': {% render 'boost-pfs-filter-html', layout: 'previousActiveHtml' %},
    'previousDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'previousDisabledHtml' %},
    'nextActiveHtml': {% render 'boost-pfs-filter-html', layout: 'nextActiveHtml' %},
    'nextDisabledHtml': {% render 'boost-pfs-filter-html', layout: 'nextDisabledHtml' %},
    'pageItemHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemHtml' %},
    'pageItemSelectedHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemSelectedHtml' %},
    'pageItemRemainHtml': {% render 'boost-pfs-filter-html', layout: 'pageItemRemainHtml' %},
    'paginateHtml': {% render 'boost-pfs-filter-html', layout: 'paginateHtml' %},

    // Sorting Template
    'sortingHtml': {% render 'boost-pfs-filter-html', layout: 'sortingHtml' %},
  };
</script>
{% schema %}

  {
    "name": "Product grid",
    "settings": [
      {
        "type": "header",
        "content": "Filtering and sorting"
      },
      {
        "type": "checkbox",
        "id": "enable_sidebar",
        "label": "Enable filter",
        "default": true,
        "info": "Allow your customers to filter collections and search results by product availability, price, color, and more. [Customize filters](/admin/menus)"
      },
      {
        "type": "checkbox",
        "id": "collapsed",
        "label": "Collapse filters",
        "default": true
      },
      {
        "type": "select",
        "id": "filter_style",
        "label": "Filter style",
        "default": "sidebar",
        "options": [
          {
            "value": "sidebar",
            "label": "Sidebar"
          },
          {
            "value": "drawer",
            "label": "Drawer"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "enable_color_swatches",
        "label": "Enable color swatches",
        "info": "[View setup instructions](https://archetypethemes.co/blogs/impulse/how-do-i-set-up-color-swatches)"
      },
      {
        "type": "checkbox",
        "id": "enable_sort",
        "label": "Show sort options",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "collection_description",
        "name": "Collection description",
        "limit": 1
      },
      {
        "type": "product_grid",
        "name": "Products",
        "settings": [
          {
            "type": "checkbox",
            "id": "enable_collection_count",
            "label": "Enable collection count",
            "default": true
          },
          {
            "type": "range",
            "id": "per_row",
            "label": "Products per row",
            "default": 4,
            "min": 2,
            "max": 5,
            "step": 1
          },
          {
            "type": "range",
            "id": "rows_per_page",
            "label": "Rows per page",
            "default": 7,
            "min": 3,
            "max": 20,
            "step": 1
          },
          {
            "type": "checkbox",
            "id": "mobile_flush_grid",
            "label": "Flush grid on mobile",
            "default": false
          }
        ],
        "limit": 1
      },
      {
        "type": "subcollections",
        "name": "Subcollections",
        "settings": [
          {
            "type": "paragraph",
            "content": "Links to collections from your menu will appear here. [Learn more](https://archetypethemes.co/blogs/expanse/how-do-i-create-subcollections)"
          },
          {
            "type": "range",
            "id": "subcollections_per_row",
            "label": "Subcollections per row",
            "default": 5,
            "min": 2,
            "max": 5,
            "step": 1
          }
        ],
        "limit": 1
      }
    ]

  }
{% endschema %}
